
.circle{
  min-width: 6px;
  height: 6px;
  background-color: rgb(115, 102, 255);
  border-radius: 100%;
  outline: 5px solid #7366ff40;
  position: relative;
  z-index: 2;
  animation: round 1.3s ease-in-out infinite;
  
}


@keyframes round {
  0%{
    transform: scale(1);
  }50%{
    transform : scale(1.2)
  }100%{
    transform: scale(1);
  }
}


.ul::before{
  position: absolute;
  content: "";
  border: 1px dashed #52526c;
  opacity: 0.3;
  top: 12px;
  left: 2px;
  height: calc(100% - 12px);
}